In [78]:
import pandas as pd
import numpy as np
import seaborn as sns

In [79]:
data = pd.read_csv("/content/energydata_complete.csv")

In [80]:
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.412580,755.522602,79.750418,4.039752,38.330834,3.760995,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.318464,7.399441,14.901088,2.451221,11.794719,4.195248,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.670000,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.920000,756.100000,83.666667,3.666667,40.000000,3.430000,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.400000,760.933333,91.666667,5.500000,40.000000,6.570000,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [81]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Q12:r square value

In [82]:
from sklearn.model_selection import train_test_split

sample = data[["T2","T6"]]

x=sample["T2"].values.reshape(-1,1)
y=sample["T6"].values.reshape(-1,1)

x1, x2, y1, y2 = train_test_split(x,y,test_size=0.25,random_state=1)

In [83]:
from sklearn.linear_model import LinearRegression

m=LinearRegression()
m.fit(x1,y1)

predicted=m.predict(x2)

In [84]:
from sklearn.metrics import r2_score

r2_score(y2,predicted)

0.6452256534160565

Q13: Normalise and MAE

In [85]:
from sklearn.preprocessing import MinMaxScaler

data=data.drop(["date","lights"],axis=1)
s=MinMaxScaler()
s_data=pd.DataFrame(s.fit_transform(data),columns=data.columns)

In [86]:
Y=s_data["Appliances"]
X=s_data.drop(["Appliances"],axis=1)

In [87]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

lr=LinearRegression()
lr.fit(X_train,Y_train)

pred=lr.predict(X_test)

In [88]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

mae=mean_absolute_error(Y_test,pred)
mae

0.050132549811815114

Q14: Residual sum of squares

In [89]:
rss=np.sum(np.square(Y_test-pred))
rss

45.34846262344894

Q15:RMSE

In [90]:
l_rmse =np.sqrt(mean_squared_error(Y_test, pred))
l_rmse

0.08751525321095997

In [92]:
from sklearn.linear_model import Ridge

rr=Ridge(alpha=0.4)
rr.fit(X_train, Y_train)
r_pred=rr.predict(X_test)

Q18

In [93]:
r_rmse=np.sqrt(mean_squared_error(Y_test, r_pred))
r_rmse

0.08753457737387474

Q19
&Q15 by changing model

In [72]:
from sklearn.linear_model import Lasso

lasreg=Lasso(alpha=0.001)
lasreg.fit(X_train, Y_train)
l_pred=lasreg.predict(X_test)

w1=pd.DataFrame(pd.Series(lasreg.coef_,X_train.columns).sort_values()).reset_index()
w1.columns=["features","weights"]

w1

       features   weights
0        RH_out -0.049557
1          RH_8 -0.000110
2            T1  0.000000
3     Tdewpoint  0.000000
4    Visibility  0.000000
5   Press_mm_hg -0.000000
6         T_out  0.000000
7          RH_9 -0.000000
8            T9 -0.000000
9            T8  0.000000
10         RH_7 -0.000000
11          rv1 -0.000000
12           T7 -0.000000
13           T6  0.000000
14         RH_5  0.000000
15           T5 -0.000000
16         RH_4  0.000000
17           T4 -0.000000
18         RH_3  0.000000
19           T3  0.000000
20         RH_2 -0.000000
21           T2  0.000000
22         RH_6 -0.000000
23          rv2 -0.000000
24    Windspeed  0.002912
25         RH_1  0.017880

Q20

In [73]:
lasso_rmse=np.sqrt(mean_squared_error(Y_test, l_pred))
lasso_rmse

0.09358170467246098